<plugin name='wkhtmltox' version='0.1.5' grailsVersion='1.3.6 &gt; *'>
  <author>Tobias Nendel</author>
  <authorEmail>tobias.nendel@scubical.com</authorEmail>
  <title>Wkhtmltopdf</title>
  <description>\
This Plugin provides a Wrapper for wkhtmltopdf,
a Simple shell utility to convert html to pdf using the webkit rendering engine, and qt.

        render( filename:"Filename ${filename}.pdf",view:"/path_to_gsp",
                model:[someModel:someModel],
                header:"/path_to_gsp",
                footer:"/path_to_gsp",
                marginLeft:20,
                marginTop:30,
                marginBottom:20,
                marginRight:20,
                headerSpacing:10
        )
</description>
  <documentation>http://grails.org/plugin/wkhtmltox</documentation>
  <type>WkhtmltoxGrailsPlugin</type>
  <resources>
    <resource>DefaultWkhtmltoxConfig</resource>
    <resource>org.wkhtmltox.WkhtmltoxService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='http://repo.dev.paulsecret.com:8081/artifactory/plugins-release-local/' url='http://repo.dev.paulsecret.com:8081/artifactory/plugins-release-local/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://download.java.net/maven/2/' url='http://download.java.net/maven/2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements>
    <plugin name='mail' version='1.0 &gt; *' />
  </runtimePluginRequirements>
  <behavior />
</plugin>